<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar"
      [(ngModel)]="listFilter"
    >
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button class="btn btn-outline-light btn-sm" (click)="showImageOnClick()">
          {{showImage ? 'Mostrar' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of filteredEvent">
      <td>
        <img src="/assets/{{evento.imagemURL}}"
            [collapse]="showImage"
            [isAnimated]="true"
            [style.width.px]="widthImg"
            [style.margin.px]="marginImg"
          />
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <a href="eventos/editar/{{evento.eventoId}}" class="btn btn-primary mr-2">Editar</a>
        <a href="eventos/remover/{{evento.eventoId}}" class="btn btn-danger">Remover</a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr class="bg-light">
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
